DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"
DATABASE_LOGGER=true
BETTER_AUTH_URL="http://localhost:5173"
BETTER_AUTH_SECRET="super-secret-for-encription"
PUBLIC_BASE_URL="http://localhost:5173"
